@use '../common/var';

.#{$namespace}-select-dropdown__list {
    .#{$namespace}-tree.#{$namespace}-tree-directory {
        .#{$namespace}-tree-treenode-selected:hover {
            background: var(--#{$namespace}-tree-node-hover-bg-color) !important;
        }

        .#{$namespace}-tree-treenode-selected::before {
            background: transparent !important;
        }

        .#{$namespace}-tree-treenode .#{$namespace}-tree-node-content-wrapper.#{$namespace}-tree-node-selected {
            color: var(--#{$namespace}-color-primary) !important;
            font-weight: 700;
        }

        .#{$namespace}-tree-treenode.#{$namespace}-tree-treenode-checkbox-checked {
            .#{$namespace}-tree-node-content-wrapper {
                color: var(--#{$namespace}-color-primary) !important;
                font-weight: 700;
            }
        }
    }
}
