@use './common/var' as *;

.#{$namespace}-drawer-wrapper {
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1050;
}

.#{$namespace}-drawer {
    --#{$namespace}-drawer-width: 30%;
    --#{$namespace}-drawer-height: 100%;
    --#{$namespace}-drawer-margin-top: 30px;
    --#{$namespace}-drawer-bg-color: var(--#{$namespace}-bg-color-overlay);
    --#{$namespace}-drawer-box-shadow: var(--#{$namespace}-box-shadow);
    --#{$namespace}-drawer-title-font-size: var(--#{$namespace}-font-size-large);
    --#{$namespace}-drawer-content-font-size: 14px;
    --#{$namespace}-drawer-font-line-height: var(--#{$namespace}-font-line-height-primary);
    --#{$namespace}-drawer-padding-primary: 20px;
    --#{$namespace}-drawer-border-radius: var(--#{$namespace}-border-radius-small);

    display: none;
    overflow: hidden;
    position: fixed;
    z-index: 1050;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.12), 0 0 10px rgba(0, 0, 0, 0.06);
    outline: 0;
    width: var(--#{$namespace}-drawer-width);
    height: var(--#{$namespace}-drawer-height);
}

.#{$namespace}-drawer,
.#{$namespace}-drawer-open.#{$namespace}-drawer-has-backdrop {
    overflow: hidden;
}

.#{$namespace}-drawer-left,
.#{$namespace}-drawer-right {
    top: 0;
    --#{$namespace}-drawer-height: 100%;
}

.#{$namespace}-drawer-top,
.#{$namespace}-drawer-bottom {
    --#{$namespace}-drawer-width: 100%;
}

// .#{$namespace}-drawer-full {
//     &.#{$namespace}-drawer-top,
//     &.#{$namespace}-drawer-bottom {
//         --#{$namespace}-drawer-height: 100%;

//         .#{$namespace}-drawer-content {
//             --#{$namespace}-drawer-height: 100%;
//         }
//     }

//     &.#{$namespace}-drawer-left,
//     &.#{$namespace}-drawer-right {
//         --#{$namespace}-drawer-width: calc(100% - 60px);
//     }
// }

.#{$namespace}-drawer-right {
    right: 0;
}

.#{$namespace}-drawer-left {
    left: 0;
}

.#{$namespace}-drawer-top {
    top: 0;
}

.#{$namespace}-drawer-bottom {
    bottom: 0;
}

.#{$namespace}-drawer-open .#{$namespace}-drawer {
    overflow: visible;
}

.#{$namespace}-drawer-dialog {
    position: relative;
    width: 100%;
    height: 100%;

    .#{$namespace}-drawer-shake .#{$namespace}-drawer-dialog {
        animation: 0.3s linear shakeHead;
    }
}

.#{$namespace}-drawer-content {
    position: absolute;
    background-color: var(--#{$namespace}-drawer-bg-color);
    outline: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.#{$namespace}-drawer-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    background-color: var(--#{$namespace}-overlay-color-lighter);

    // Fade for backdrop
    &.#{$namespace}-anim-fade {
        opacity: 0;
        transition: opacity 0.3s ease-in;
    }

    &.#{$namespace}-anim-in {
        opacity: 1;
    }
}

.#{$namespace}-drawer-header {
    align-items: center;
    color: #72767b;
    display: flex;
    margin-bottom: 15px;
    padding: var(--el-drawer-padding-primary);
    padding-bottom: 0;

    &::before,
    &::after {
        content: ' '; // 1
        display: table; // 2
    }

    &::after {
        clear: both;
    }

    & > :first-child {
        flex: 1;
    }

    &.is-border {
        border-bottom: 1px solid var(--#{$namespace}-border-color);
    }

    .#{$namespace}-drawer-header-close {
        display: inline-flex;
        border: none;
        cursor: pointer;
        font-size: var(--el-font-size-extra-large);
        color: inherit;
        background-color: transparent;
        outline: none;

        &:focus i,
        &:hover i {
            color: var(--el-color-primary);
        }

        // background: transparent;
        // border: none;
        // cursor: pointer;
        // position: absolute;
        // right: 20px;
        // top: 12px;
        // font-size: 16px;
        // line-height: 1.6666666667;
        // color: var(--#{$namespace}-color-info);
        // width: 20px;
        // padding: 0 4px;
    }
}

.#{$namespace}-drawer-title {
    margin: 0;
    flex: 1;
    line-height: inherit;
    font-size: 16px;

    // font-weight: normal;
    // color: var(--#{$namespace}-text-color-primary);
    // display: block;
    // font-size: 16px;
    // line-height: 1.25;

    // margin: 0;
    // overflow: hidden;
    // text-overflow: ellipsis;
    // white-space: nowrap;
    // width: 100%;
}

.#{$namespace}-drawer-body {
    position: relative;
    flex: 1;
    overflow: hidden;
    padding: 20px;
}

.#{$namespace}-drawer-footer {
    text-align: right;
    border-top: none;
    padding: 15px 20px;

    &::before,
    &::after {
        content: ' '; // 1
        display: table; // 2
    }

    &::after {
        clear: both;
    }

    // Properly space out buttons
    .#{$namespace}-button + .#{$namespace}-button {
        margin-left: 10px;
        margin-bottom: 0; // account for input[type="submit"] which gets the bottom margin like all other inputs
    }
    // but override that for button groups
    .#{$namespace}-button-group .#{$namespace}-button + .#{$namespace}-button {
        margin-left: -1px;
    }
    // and override it for block buttons as well
    .#{$namespace}-button-block + .#{$namespace}-button-block {
        margin-left: 0;
    }
}

.#{$namespace}-drawer-scrollbar-measure {
    position: absolute;
    top: -9999px;
    width: 50px;
    height: 50px;
    overflow: scroll;
}

.#{$namespace}-drawer-shake .#{$namespace}-drawer-dialog {
    animation: 0.3s linear rShakeHead;
}
