@use './common/var' as *;

.#{$namespace}-dropdown__popper {
    --#{$namespace}-dropdown-menu-box-shadow: var(--#{$namespace}-box-shadow-light);
    --#{$namespace}-dropdown-menuItem-hover-fill: var(--#{$namespace}-fill-color-light);
    --#{$namespace}-dropdown-menuItem-hover-color: var(--#{$namespace}-color-primary);
    --#{$namespace}-dropdown-menu-index: 10;
}

.#{$namespace}-dropdown {
    --#{$namespace}-dropdown-menu-box-shadow: var(--#{$namespace}-box-shadow-light);
    --#{$namespace}-dropdown-menuItem-hover-fill: var(--#{$namespace}-fill-color-light);
    --#{$namespace}-dropdown-menuItem-hover-color: var(--#{$namespace}-color-primary);
    display: inline-flex;
    position: relative;
    color: var(--#{$namespace}-text-color-regular);
    font-size: 14px;
    line-height: 1;
    vertical-align: top;

    &.is-disabled {
        color: var(--#{$namespace}-text-color-placeholder);
        cursor: not-allowed;
    }

    .#{$namespace}-dropdown__popper {
        box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.12);

        .#{$namespace}-dropdown-menu {
            border: none;
        }

        .#{$namespace}-dropdown__popper-selfdefine {
            outline: none;
        }

        .#{$namespace}-scrollbar__bar {
            z-index: 1001;
        }

        .#{$namespace}-dropdown__list {
            list-style: none;
            padding: 0;
            margin: 0;
            box-sizing: border-box;
        }
    }

    // & .#{$namespace}-dropdown__caret-button {
    //     padding-left: 0;
    //     padding-right: 0;
    //     display: inline-flex;
    //     justify-content: center;
    //     align-items: center;
    //     width: 32px;
    //     border-left: none;

    //     & > span {
    //         display: inline-flex;
    //     }

    //     &::before {
    //         content: '';
    //         position: absolute;
    //         display: block;
    //         width: 1px;
    //         top: 5px;
    //         bottom: 5px;
    //         left: 0;
    //         background: rgba(0, 0, 0, 0.5);
    //     }

    //     &.#{$namespace}-button::before {
    //         background: #dcdfe6;
    //         opacity: 0.5;
    //     }

    //     &:hover {
    //         &::before {
    //             top: 0;
    //             bottom: 0;
    //         }
    //     }

    //     & .#{$namespace}-dropdown__icon {
    //         font-size: inherit;
    //         padding-left: 0;
    //     }
    // }

    .#{$namespace}-dropdown-selfdefine {
        // 自定义
        outline: none;
    }
}

.#{$namespace}-dropdown-menu {
    --#{$namespace}-dropdown-menuItem-padding: 5px 16px;
    position: relative;
    top: 0;
    left: 0;
    padding: 6px 0;
    margin: 0;
    background-color: var(--#{$namespace}-bg-color-overlay);
    border: none;
    border-radius: 4px;
    box-shadow: none;
    list-style: none;
}

.#{$namespace}-dropdown-menu__item {
    display: flex;
    align-items: center;
    white-space: nowrap;
    list-style: none;
    line-height: 22px;
    padding: var(--#{$namespace}-dropdown-menuItem-padding);
    margin: 0;
    font-size: 14px;
    color: var(--#{$namespace}-text-color-regular);
    cursor: pointer;
    outline: none;

    &:not(.is-disabled):hover {
        background-color: var(--#{$namespace}-dropdown-menuItem-hover-fill);
        color: var(--#{$namespace}-dropdown-menuItem-hover-color);
    }

    i {
        margin-right: 10px;
        display: inline-block;
    }

    &.is-active {
        color: var(--#{$namespace}-color-primary);
    }

    &.is-disabled {
        cursor: not-allowed;
        color: var(--#{$namespace}-text-color-placeholder);
    }
}

.#{$namespace}-dropdown-menu__item--divided {
    margin: 6px 0;
    border-top: 1px solid var(--#{$namespace}-border-color);
}
