@use './mixins/config' as *;
@use './common/var' as *;

.#{$namespace}-notification {
    --#{$namespace}-notification-shadow: var(--#{$namespace}-box-shadow-light);
    --#{$namespace}-notification-border-color: var(--#{$namespace}-border-color);
    --#{$namespace}-notification-content-font-size: var(--#{$namespace}-font-size-base);
    --#{$namespace}-notification-content-color: var(--#{$namespace}-text-color-regular);
    --#{$namespace}-notification-title-color: var(--#{$namespace}-text-color-primary);
    --#{$namespace}-notification-close-color: var(--#{$namespace}-text-color-secondary);
    --#{$namespace}-notification-close-hover-color: var(--#{$namespace}-text-color-regular);
}

.#{$namespace}-notification {
    display: flex;
    width: 330px;
    padding: 14px 26px 14px 13px;
    border-radius: 8px;
    box-sizing: border-box;
    border: 1px solid var(--#{$namespace}-notification-border-color);
    position: fixed;
    background-color: var(--#{$namespace}-bg-color-overlay);
    box-shadow: var(--#{$namespace}-notification-shadow);
    transition: opacity 0.3s, transform 0.3s, left 0.3s, right 0.3s, top 0.4s, bottom 0.3s;
    overflow-wrap: anywhere;
    overflow: hidden;
    z-index: 9999;

    &.right {
        right: 16px;
    }

    &.left {
        left: 16px;
    }

    &__group {
        margin-left: 13px;
        margin-right: 8px;
    }

    &__title {
        font-weight: bold;
        font-size: 16px;
        line-height: 24px;
        color: var(--#{$namespace}-notification-title-color);
        margin: 0;
    }

    &__content {
        font-size: var(--#{$namespace}-notification-content-font-size);
        line-height: 24px;
        margin: 6px 0 0 0;
        color: var(--#{$namespace}-notification-content-color);
        text-align: justify;

        p {
            margin: 0;
        }
    }

    &__icon {
        height: 24px;
        width: 24px;
        font-size: 24px;
    }

    &__closeBtn {
        position: absolute;
        top: 18px;
        right: 15px;
        cursor: pointer;
        color: var(--#{$namespace}-notification-close-color);
        font-size: 16px;

        &::before {
            font-family: $fa-font-family;
            content: '\f00d';
            font-weight: 400;
        }

        &:hover {
            color: var(--#{$namespace}-notification-close-hover-color);
        }
    }

    .#{$namespace}-icon-success {
        --#{$namespace}-notification-icon-color: var(--#{$namespace}-color-success);
        color: var(--#{$namespace}-notification-icon-color);
        margin-top: -4px;

        &::before {
            font-family: $fa-font-family;
            content: '\f058';
            font-style: normal;
            font-weight: bold;
        }
    }

    .#{$namespace}-icon-error {
        --#{$namespace}-notification-icon-color: var(--#{$namespace}-color-error);
        color: var(--#{$namespace}-notification-icon-color);
        margin-top: -4px;

        &::before {
            font-family: $fa-font-family;
            content: '\f057';
            font-style: normal;
            font-weight: bold;
        }
    }

    .#{$namespace}-icon-info {
        --#{$namespace}-notification-icon-color: var(--#{$namespace}-color-info);
        color: var(--#{$namespace}-notification-icon-color);
        margin-top: -4px;

        &::before {
            font-family: $fa-font-family;
            content: '\f05a';
            font-style: normal;
            font-weight: bold;
        }
    }

    .#{$namespace}-icon-warning {
        --#{$namespace}-notification-icon-color: var(--#{$namespace}-color-warning);
        color: var(--#{$namespace}-notification-icon-color);
        margin-top: -4px;

        &::before {
            font-family: $fa-font-family;
            content: '\f06a';
            font-style: normal;
            font-weight: bold;
        }
    }
}

.#{$namespace}-notification-fade-enter-from {
    opacity: 0;

    &.right {
        right: 0;
        transform: translateX(100%);
    }

    &.left {
        left: 0;
        transform: translateX(-100%);
    }
}

.#{$namespace}-notification-fade-leave-to {
    opacity: 0;
}
