@use './mixins/config' as *;

// .#{$namespace}-popconfirm {
//     background-clip: padding-box;
//     border-radius: 2px;

//     .#{$namespace}-popconfirm__body {
//         padding: 12px 16px;
//         color: #000000d9;
//         font-size: 16px;

//         .fad {
//             margin-right: 3px;
//             color: #f90;
//         }

//         .btngroup {
//             text-align: center;
//             margin-top: 15px;
//         }
//     }

// }

.#{$namespace}-popconfirm__main {
    display: flex;
    align-items: center;
}
.#{$namespace}-popconfirm__icon {
    margin-right: 5px;
}
.#{$namespace}-popconfirm__action {
    text-align: right;
    margin-top: 8px;
}
