@use './mixins/config' as *;

.#{$namespace}-radio-group {
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
    font-size: 0;

    &.#{$namespace}-radio-group--large {
        min-height: var(--#{$namespace}-component-size-large);
        &.#{$namespace}-radio-group-inline {
            line-height: var(--#{$namespace}-component-size-large);
        }
    }

    &.#{$namespace}-radio-group--small {
        min-height: var(--#{$namespace}-component-size-small);
        &.#{$namespace}-radio-group-inline {
            line-height: var(--#{$namespace}-component-size-small);
        }
    }
}
