@use './common/var';

.#{$namespace}-radio-button {
    --#{$namespace}-radio-button-checked-bg-color: var(--#{$namespace}-color-primary);
    --#{$namespace}-radio-button-checked-text-color: var(--#{$namespace}-color-white);
    --#{$namespace}-radio-button-checked-border-color: var(--#{$namespace}-color-primary);
    --#{$namespace}-radio-button-disabled-checked-fill: var(--#{$namespace}-disabled-bg-color);
}

.#{$namespace}-radio-button {
    position: relative;
    display: inline-block;
    outline: none;

    .#{$namespace}-radio-button__inner {
        display: inline-block;
        line-height: 1;
        white-space: nowrap;
        vertical-align: middle;
        background: var(--#{$namespace}-button-bg-color, var(--#{$namespace}-fill-color-blank));
        border: 1px solid var(--#{$namespace}-border-color);
        font-weight: 500;
        border-left: 0;
        color: var(--#{$namespace}-button-text-color, var(--#{$namespace}-text-color-regular));
        -webkit-appearance: none;
        text-align: center;
        box-sizing: border-box;
        outline: none;
        margin: 0;
        position: relative;
        cursor: pointer;
        transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
        user-select: none;
        padding: 8px 15px;
        font-size: 14px;
        border-radius: 0;

        // @include button-size(
        //   map.get($button-padding-vertical, 'default') - $button-border-width,
        //   map.get($button-padding-horizontal, 'default') - $button-border-width,
        //   map.get($button-font-size, 'default'),
        //   0
        // );

        &:hover {
            color: var(--#{$namespace}-color-primary);
        }

        & [class*='#{$namespace}-icon-'] {
            line-height: 0.9;

            & + span {
                margin-left: 5px;
            }
        }
    }

    &:first-child {
        .#{$namespace}-radio-button__inner {
            border-left: 1px solid var(--#{$namespace}-border-color);
            border-radius: 4px 0 0 4px;
            box-shadow: none !important;
        }
    }

    .#{$namespace}-radio-button__original-radio {
        opacity: 0;
        outline: none;
        position: absolute;
        z-index: -1;

        &:checked {
            & + .#{$namespace}-radio-button__inner {
                color: var(--#{$namespace}-radio-button-checked-text-color);
                background: var(--#{$namespace}-bg-color-primary, var(--#{$namespace}-color-primary));
                border-color: var(--btn-border-color);
                box-shadow: -1px 0 0 0 var(--#{$namespace}-color-primary);
            }
        }

        &:disabled {
            & + .#{$namespace}-radio-button__inner {
                color: var(--#{$namespace}-disabled-text-color);
                cursor: not-allowed;
                background-image: none;
                background-color: var(--#{$namespace}-button-disabled-bg-color, var(--#{$namespace}-fill-color-blank));
                border-color: var(--#{$namespace}-button-disabled-border-color, var(--#{$namespace}-border-color-light));
                box-shadow: none;
            }
            &:checked + .#{$namespace}-radio-button__inner {
                background-color: var(--#{$namespace}-radio-button-disabled-checked-fill);
            }
        }
    }

    &:last-child {
        .#{$namespace}-radio-button__inner {
            border-radius: 0 4px 4px 0;
        }
    }

    &:first-child:last-child {
        .#{$namespace}-radio-button__inner {
            border-radius: 4px;
        }
    }

    &:focus:not(.is-focus):not(:active):not(.is-disabled) {
        /*获得焦点时 样式提醒*/
        box-shadow: 0 0 2px 2px var(--#{$namespace}-color-primary);
    }
}

.#{$namespace}-radio-button--large {
    .#{$namespace}-radio-button__inner {
        padding: 12px 19px;
        font-size: 14px;
        border-radius: 0;
    }
}

.#{$namespace}-radio-button--small {
    .#{$namespace}-radio-button__inner {
        padding: 7px 11px;
        font-size: 12px;
        border-radius: 0;
    }
}
