@use './common/var' as *;

.#{$namespace}-skeleton {
    --#{$namespace}-skeleton-color: var(--#{$namespace}-fill-color);
    --#{$namespace}-skeleton-to-color: var(--#{$namespace}-fill-color-darker);
}

.is-dark {
    .#{$namespace}-skeleton {
        --#{$namespace}-skeleton-color: #3c3f43;
        --#{$namespace}-skeleton-to-color: #484c50;
    }
}

.#{$namespace}-skeleton {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    justify-content: flex-start;
    display: flex;

    &-paragraph {
        justify-content: flex-start;
        align-items: flex-start;

        &-graph {
            flex: 0 0 auto;
            width: 60px;
            height: 60px;
            border-radius: 2px;
            margin-right: 20px;
            background-color: var(--#{$namespace}-skeleton-color);

            &-circle {
                border-radius: 50%;
            }

            &-image {
                width: 200px;
                height: 200px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 0;

                & > svg {
                    color: var(--el-border-color);
                    fill: currentColor;
                    width: 22%;
                    height: 22%;
                }
            }

            &-image &-inner {
                width: 12px;
                height: 12px;
                right: 18px;
                top: 10px;
                border-radius: 50%;
                position: absolute;
            }
        }

        &-rows {
            width: 100%;

            .#{$namespace}-skeleton__item {
                background-color: var(--#{$namespace}-skeleton-color);
                border-radius: 4px;
            }
        }
    }

    &-grid {
        &-col {
            flex: 1;
            display: flex;
            flex-direction: column;
            align-items: flex-end;

            & > p {
                background-color: var(--#{$namespace}-skeleton-color);
                border-radius: 4px;
            }

            &:first-child {
                align-items: flex-start; //first col align left
            }
        }
    }

    &-graph {
        display: inline-block;
        width: 100%;
        background-color: var(--#{$namespace}-skeleton-color);
    }

    &-active {
        &.#{$namespace}-skeleton-graph,
        .#{$namespace}-skeleton-paragraph-graph-image,
        .#{$namespace}-skeleton-grid-col .#{$namespace}-skeleton__item,
        .#{$namespace}-skeleton-paragraph-rows .#{$namespace}-skeleton__item {
            background: linear-gradient(-45deg, var(--#{$namespace}-skeleton-color) 25%, var(--#{$namespace}-skeleton-to-color) 37%, var(--#{$namespace}-skeleton-color) 63%);
            background-size: 400% 100% !important;
            animation: skeleton-active 1.4s ease infinite;
        }
    }

    @keyframes skeleton-active {
        0% {
            background-position: 100% 50%;
        }

        100% {
            background-position: 0 50%;
        }
    }
}
