.common-layout {
    .el-header,
    .el-footer,
    .el-main,
    .el-aside {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .el-header,
    .el-footer {
        background-color: var(--el-color-primary-light-7);
        color: var(--el-text-color-primary);
        text-align: center;
    }

    .el-aside {
        background-color: var(--el-color-primary-light-8);
        color: var(--el-text-color-primary);
        text-align: center;
    }

    .el-main {
        background-color: var(--el-color-primary-light-9);
        color: var(--el-text-color-primary);
        text-align: center;

        height: 150px;
    }
}

.layout-container-demo .el-header {
    position: relative;
    background-color: var(--el-color-primary-light-7);
    color: var(--el-text-color-primary);
}
.layout-container-demo .el-aside {
    color: var(--el-text-color-primary);
    background: var(--el-color-primary-light-8);
}
.layout-container-demo .el-menu {
    border-right: none;
}
.layout-container-demo .el-main {
    padding: 0;
}
.layout-container-demo .toolbar {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    right: 20px;
}
