@use './mixins' as *;
@use './vars' as *;
// @use './sidebar-link.scss';

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: var(--sidebar-width-xs);
    background-color: var(--bg-color);
    padding: 48px 32px;
    padding-top: 0;
    overflow-y: auto;
    transform: translate(-100%);
    transition: background-color var(--el-transition-duration-fast), opacity 0.25s, transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);

    &.open {
        transform: translate(0);
    }

    .sidebar-groups {
        padding: 0;

        @include respond-to('lg') {
            padding-bottom: 48px;
            padding-top: 0;
        }

        .sidebar-group__title {
            font-size: 1rem;
            font-weight: 700;
            margin-bottom: 8px;
            line-height: 24px;
        }

        .sidebar-group + .sidebar-group {
            padding-top: 24px;
        }
    }

    @media (max-width: 767px) {
        width: calc(var(--vp-sidebar-width-mobile) - 14px);
        z-index: var(--sidebar-z-index-mobile);
    }

    @include respond-to('md') {
        width: calc(var(--vp-sidebar-width-small));
        z-index: var(--sidebar-z-index-mobile);
    }

    @include respond-to('lg') {
        z-index: var(--sidebar-z-index);
        top: var(--header-height);
        transform: translate(0);
    }

    @include respond-to('xxl') {
        padding: 48px 32px;
        padding-top: 0;
        width: calc(var(--vp-sidebar-width-small) + 32px);
    }

    @include respond-to('max') {
        padding: 48px;
        padding-top: 0;
        width: calc(var(--vp-sidebar-width-small) + 48px);
    }

    .link:not(.flex) {
        display: block;
    }

    .link {
        padding: 10px 16px;
        line-height: 1.5;
        font-size: 0.9rem;
        border-radius: 8px;
    }

    .link .link-text {
        margin: 0;
    }

    .link:hover .link-text {
        color: var(--brand-color);
        transition: color 0.25s;
    }

    .link.active {
        background-color: rgba(64, 158, 255, 0.1);
    }

    .link.active .link-text {
        font-weight: 600;
        color: var(--brand-color);
        transition: color 0.25s;
    }

    .link-text {
        line-height: 20px;
        font-size: 13px;
        font-weight: 500;
        color: var(--text-color-light);
        transition: color 0.5s;
    }

    .link[data-v-7d4aa2c8] {
        display: inline-block;
        font-weight: 500;
    }
}
