.is-penultimate > .el-tree-node__content {
    color: #626aef;
}
.is-penultimate > .el-tree-node__children > div {
    display: inline-block;
    margin-right: 4px;

    &:not(:first-child) .el-tree-node__content {
        padding-left: 0px !important;
    }
    .el-tree-node__content {
        padding-right: 16px;
    }
}
