@use '../common/var';

.#{$namespace}-empty {
    --#{$namespace}-empty-fill-color-0: var(--#{$namespace}-color-white);
    --#{$namespace}-empty-fill-color-1: #fcfcfd;
    --#{$namespace}-empty-fill-color-2: #f8f9fb;
    --#{$namespace}-empty-fill-color-3: #f7f8fc;
    --#{$namespace}-empty-fill-color-4: #eeeff3;
    --#{$namespace}-empty-fill-color-5: #edeef2;
    --#{$namespace}-empty-fill-color-6: #e9ebef;
    --#{$namespace}-empty-fill-color-7: #e5e7e9;
    --#{$namespace}-empty-fill-color-8: #e0e3e9;
    --#{$namespace}-empty-fill-color-9: #d5d7de;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    box-sizing: border-box;
    padding: 40px 0;

    &__image {
        width: 160px;

        img {
            user-select: none;
            width: 100%;
            height: 100%;
            vertical-align: top;
            object-fit: contain;
        }

        svg {
            fill: var(--#{$namespace}-svg-monochrome-grey);
            width: 100%;
            height: 100%;
            vertical-align: top;
        }
    }

    &__description {
        margin-top: 20px;

        & > p {
            margin: 0 !important;
            font-size: 14px;
            color: var(--#{$namespace}-text-color-placeholder);
        }
    }

    &__bottom {
        margin-top: 20px;
    }
}

.is-dark {
    .#{$namespace}-empty {
        --#{$namespace}-empty-fill-color-0: var(--#{$namespace}-color-black);
        --#{$namespace}-empty-fill-color-1: #4b4b52;
        --#{$namespace}-empty-fill-color-2: #36383d;
        --#{$namespace}-empty-fill-color-3: #1e1e20;
        --#{$namespace}-empty-fill-color-4: #262629;
        --#{$namespace}-empty-fill-color-5: #202124;
        --#{$namespace}-empty-fill-color-6: #212224;
        --#{$namespace}-empty-fill-color-7: #1b1c1f;
        --#{$namespace}-empty-fill-color-8: #1c1d1f;
        --#{$namespace}-empty-fill-color-9: #18181a;
    }
}
