.demo-date-picker {
    display: flex;
    width: 100%;
    padding: 0;
    flex-wrap: wrap;

    .block {
        padding: 30px 0;
        text-align: center;
        border-right: solid 1px var(--el-border-color);
        flex: 1;
    }

    .block:last-child {
        border-right: none;
    }

    .container {
        flex: 1;
        border-right: solid 1px var(--el-border-color);
    }

    .container .block {
        border-right: none;
    }

    .container .block:last-child {
        border-top: solid 1px var(--el-border-color);
    }

    .container:last-child {
        border-right: none;
    }

    .demonstration {
        display: block;
        color: var(--el-text-color-secondary);
        font-size: 14px;
        margin-bottom: 20px;
    }
}
