.gap-1 {
    grid-gap: 0.25rem;
    gap: 0.25rem;
}
.items-center {
    align-items: center;
}
.flex-wrap {
    flex-wrap: wrap;
}
.flex {
    display: flex;
}
.my-2 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
.m-1 {
    margin: 0.25rem;
}
.mx-1 {
    margin-left: 0.25rem;
    margin-right: 0.25rem;
}
