.bg-blue-200 {
    --un-bg-opacity: 1;
    background-color: rgb(191 219 254 / var(--un-bg-opacity));
}
.bg-red-100 {
    --un-bg-opacity: 1;
    background-color: rgb(254 226 226 / var(--un-bg-opacity));
}
