.el-tabs.markdown {
    background: var(--code-bg-color);
    border-radius: 4px;

    .el-tabs__nav {
        padding-left: 20px;
    }

    .dumi-default-source-code {
        margin-top: 5px;
    }

    .language-bash {
        .token {
            &.plain {
                --shiki-light: rgba(0, 0, 0, 0.88);
                color: var(--shiki-light, inherit);
            }
        }
    }
}

.dark {
    .el-tabs.markdown .language-bash {
        .token.function {
            color: #9ecbff !important;
        }
        .token.plain {
            --shiki-light: #8590a0;
        }
    }

    .dumi-default-source-code-copy {
        background-color: #1b1b1f !important;
    }
}
