.custom-header .el-select-dropdown__header {
    padding: 5px 10px;
}

.custom-footer .option-input {
    width: 100%;
    margin-bottom: 8px;
}

.custom-tag-select .el-tag {
    border: none;
    aspect-ratio: 1;
}
