<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>一个 React UI 框架 | Element Plus</title>
<link rel="stylesheet" href="/@qsxy/element-plus-react/umi.6ab0b7ec.css">
<script src="/@qsxy/element-plus-react/preload_helper.20858499.js"></script>
</head>
<body>
<div id="root"></div>
<script src="/@qsxy/element-plus-react/umi.1eab9ff0.js"></script>
</body>
</html>