@use '../common/var' as *;

.#{$namespace}-date-table {
    font-size: 12px;
    user-select: none;

    &.is-week-mode {
        .#{$namespace}-date-table__row {
            &:hover {
                .#{$namespace}-date-table-cell {
                    background-color: #f2f6fc;
                }
                td.available:hover {
                    color: #606266;
                }
                td:first-child .#{$namespace}-date-table-cell {
                    margin-left: 5px;
                    border-top-left-radius: 15px;
                    border-bottom-left-radius: 15px;
                }
                td:last-child .#{$namespace}-date-table-cell {
                    margin-right: 5px;
                    border-top-right-radius: 15px;
                    border-bottom-right-radius: 15px;
                }
            }

            &.current .#{$namespace}-date-table-cell {
                background-color: #f2f6fc;
            }
        }
    }

    td {
        width: 32px;
        height: 30px;
        padding: 4px 0;
        box-sizing: border-box;
        text-align: center;
        cursor: pointer;
        position: relative;

        .#{$namespace}-date-table-cell {
            height: 30px;
            padding: 3px 0;
            box-sizing: border-box;
            .#{$namespace}-date-table-cell__text {
                width: 24px;
                height: 24px;
                display: block;
                margin: 0 auto;
                line-height: 24px;
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                border-radius: 50%;
                font-size: 14px;
            }
        }

        &.next-month,
        &.prev-month {
            color: var(--#{$namespace}-datepicker-off-text-color);

            &:hover .#{$namespace}-date-table-cell__text {
                background: var(--#{$namespace}-fill-color-light);
            }
        }

        &.today {
            position: relative;

            .#{$namespace}-date-table-cell__text {
                color: var(--#{$namespace}-color-primary);
                font-weight: bold;
            }
            &.start-date .#{$namespace}-date-table-cell__text,
            &.end-date .#{$namespace}-date-table-cell__text {
                color: #ffffff;
            }
        }

        &.available:hover .#{$namespace}-date-table-cell__text {
            color: var(--#{$namespace}-datepicker-hover-text-color);
            background: var(--#{$namespace}-fill-color-light);
        }

        &.in-range .#{$namespace}-date-table-cell {
            background-color: var(--#{$namespace}-datepicker-inrange-bg-color);
            &:hover {
                background-color: var(--#{$namespace}-datepicker-inrange-bg-color);
                color: var(--#{$namespace}-datepicker-hover-text-color);
            }
        }

        &.current:not(.disabled) .#{$namespace}-date-table-cell__text {
            color: #ffffff;
            background: var(--#{$namespace}-bg-color-primary, var(--#{$namespace}-color-primary));
        }

        &.start-date .#{$namespace}-date-table-cell__text,
        &.end-date .#{$namespace}-date-table-cell__text {
            background: var(--#{$namespace}-bg-color-primary, var(--#{$namespace}-color-primary)) !important;
            color: #ffffff !important;
        }

        &.start-date .#{$namespace}-date-table-cell {
            margin-left: 5px;
            border-top-left-radius: 15px;
            border-bottom-left-radius: 15px;
        }

        &.end-date .#{$namespace}-date-table-cell {
            margin-right: 5px;
            border-top-right-radius: 15px;
            border-bottom-right-radius: 15px;
        }

        &.disabled .#{$namespace}-date-table-cell {
            background-color: var(--#{$namespace}-fill-color-light);
            opacity: 1;
            cursor: not-allowed;
            color: var(--#{$namespace}-datepicker-off-text-color);
        }

        &.selected .#{$namespace}-date-table-cell {
            margin-left: 5px;
            margin-right: 5px;
            background-color: #f2f6fc;
            border-radius: 15px;
            &:hover {
                background-color: #f2f6fc;
            }
        }

        &.selected .#{$namespace}-date-table-cell__text {
            background: var(--#{$namespace}-bg-color-primary, var(--#{$namespace}-color-primary));
            color: #ffffff;
            border-radius: 15px;
        }

        &.week {
            font-size: 80%;
            color: #606266;
        }
    }

    th {
        padding: 5px;
        color: var(--#{$namespace}-datepicker-header-text-color);
        font-size: 14px;
        font-weight: 600;
        border-bottom: solid 1px var(--#{$namespace}-border-color-light);
        text-align: center;
    }
}
